/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/social-archives/facebook/*
/storage/app/social-archives/instagram/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
