.instas {

    &__filters {
        margin-bottom: 1rem;
        a {
            color: black;
        }
    }

    &__media {
        margin: 0 -5px;
        padding: 0;
        list-style-type: none;
    }

    &__single {
        margin: 5px;
        width: 200px;
        height: 200px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}