body {
    color: white;
    background-image: linear-gradient(180deg,#2a2139 75%,#34294f);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

a {
    color: #fffdaf;
    text-decoration: none;
    border-bottom: 2px currentcolor solid;
}

section {
    border: 2px solid black;
    color: black;
    background-color: white;
}

.logo {
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    border-bottom: 0;
}