html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.site-wrapper {
    padding: 0 2rem 4rem 2rem;
    width: 75ch;
    max-width: 100%;
    margin: 0 auto;
}

.site-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

section {
    padding: 1rem;

    > header {
        margin-bottom: 1rem;
    }

    a {
        color: black;
    }
}