.site-header {
    padding: 2rem 0;

    nav {
        font-size: 1.4rem;

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li:not(:last-child) {
            margin-right: 1rem;
        }
    }
}