$mono-font: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

body {
    font-family: $mono-font;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.3 * 1rem;
}

h1, h2, h3, h4 {
    margin-top: 0;
    font-family: $mono-font;
    font-weight: bold;
}

h1 {
    margin-bottom: 0.5 * 1.4rem;
    font-size: 1.4rem;
    line-height: 1.3 * 1.4rem;
    font-style: italic;
}

h2 {
    margin-bottom: 0.5 * 1.2rem;
    font-size: 1.2rem;
    line-height: 1.3 * 1.2rem;
}

blockquote {
    font-style: italic;
}